<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Create new user. : </title>
</head>
<body>
<form th:method ="POST" th:action="@{/admin}" th:object="${user}">
    <label for="name">Enter name of user: </label>
    <input type="text" th:field="*{name}" id="name">
    <div style="color:indianred" th:if="${#fields.hasErrors('name')}" th:errors="*{name}">name error.</div>
    <br/>
    <label for="email">Enter email of user: </label>
    <input type="text" th:field="*{email}" id="email">
    <div style="color:indianred" th:if="${#fields.hasErrors('email')}" th:errors="*{email}">email error.</div>
    <br/>
    <label for="sex">Enter gender of user: </label>
    <input type="text" th:field="*{sex}" id="sex">
    <div style="color:indianred" th:if="${#fields.hasErrors('sex')}" th:errors="*{sex}">sex error.</div>
    <br/>
    <input type="submit" value="Create"/>
</form>
<a href="/logout">Logout.</a>
</body>
</html>